.ui.inverted.login.button{
  background-color: #2185d1;
}

.ui.inverted.sign.button{
  background-color: #2185d1;

}

.ui.fluid.image{
  padding-top: 20px;
}

.ui.large.button{
  margin-bottom: 10px;
}

.ui.vertical.inverted.footer.segment{
  padding-bottom: 10px;
}